body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gradient-text {
  background: -webkit-linear-gradient(#c425b4, #116dd1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-stick-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}